.aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8%;
    &__image {
      width: 50%;
      img {
        width: 100%;
      }
    }
    &__text {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      box-sizing: border-box;
      padding: 0 10%;
      letter-spacing: 1px;
      .subject {
        color: $textColorLight;
        font-size: $xl-font;
        font-weight: bold;
      }
      .headline {
        color: $turkish;
        font-size: $xxl-font;
        font-weight: 300;
      }
      .text {
        font-size: 28px;

      }
    }
  }
  &-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8%;
    &__icon {
      width: 130px;
      height: 130px;
      margin-bottom: 1%;
    }
    &__headline {
      font-size: $xxl-font;
      font-weight: 300;
      margin-bottom: 1%;
    }
    &__text {
      font-size: $xl-font;
      margin-bottom: 4%;
    }
    &__button {
      @include button;
      background-color: $green;
      color: $white;
      font-weight: 700;
    }
  }
}
