.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  &-intro {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 4% 0;
    &__headline {
      font-weight: 300;
    }
  }
  &-form {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: space-between;
    flex-wrap: wrap;
    &__small {
      height: auto;
      width: 48%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      &:nth-of-type(2) {
        margin-left: 4%;
      }
      &:nth-of-type(4) {
        margin-left: 4%;
      }
      input {
        width: 100%;
        border-radius: 10px;
        box-shadow: none;
        border: 1px solid $textColorLight;
        height: 50px;
        margin-bottom: 4%;
        margin-top: 1%;
        font-size: $n-font;
        color: $textColor;
        box-sizing: border-box;
        padding: 1% 3%;
        background-color: $white;
        &::placeholder {
          color: $textColorLight;
        }
      }
    }
    &__big {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      input {
        width: 100%;
        height: 250px;
        border-radius: 10px;
        box-shadow: none;
        border: 1px solid $textColorLight;
        margin-bottom: 4%;
        margin-top: 1%;
        font-size: $n-font;
        color: $textColor;
        box-sizing: border-box;
        padding: 1% 3%;
        background-color: $white;
      }
    }
    &__submit {
      @include button;
      background-color: $turkish;
      color: $white;
    }
  }
  &-departments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 150px;
    &__SoMe {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 25%;
      height: 350px;
      padding: 5%;
      box-sizing: border-box;
      background-color: $greyBlue;
      a {
        height: 40px;
        width: 40px;
        margin: 5%;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    &__item {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      box-sizing: border-box;
      padding: 2% 4%;
      height: 350px;
      width: 25%;
      background-color: $turkish;
      h3 {
        color: $white;
        margin-bottom: 10%;
        font-weight: 300;
        font-size: $xxl-font;
      }
      p {
        color: $white;
        font-size: $xl-font;
      }
      &:nth-of-type(3) {
        background-color: $darkGrey;
      }
      &:nth-of-type(4) {
        background-color: $red;
      }

    }
  }
  &-faq {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-bottom: 5%;
    &__headline {
      font-size: $xxl-font;
      font-weight: 300;
      margin-bottom: 4%;
    }
    .wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      width: 30%;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-decoration: none;
      color: $textColor;
      font-size: $xl-font;
      img {
        height: 130px;
        width: 130px;
      }
    }
  }

}
