.footer {
  background-color: $footerBg;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 35px 0;
  &-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    padding-bottom: 30px;
    &__item {
      text-decoration: none;
      color: $footerText;
      margin: 5px;
      font-size: $xl-font;
      font-weight: bold;
      &:hover {
        color: $footerLightText;
      }
    }
    .footer-logo {
      width: 20%;
    }
  }
  &-gdpr {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
    a {
      text-decoration: none;
      color: $footerLightText;
      font-size: $l-font;
    }
  }
  &-seperator {
    width: 50%;
    padding-bottom: 35px;
  }
  &-SoMe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 7%;
    padding-bottom: 35px;
    a {
      width: 20px;
      height: 20px;
      img {
        width: 100%;
        height: 100%;
      }

    }
  }
  .credentials {
    font-weight: bold;
    color: $footerLightText;
    font-size: $xs-font;
  }
}
