.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0% 4.5%;
  &-logo {
    width: 7.5%;
  }
  &-navigation {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: relative;
    &__item {
      color: $textColor;
      font-size: $xl-font;
      text-decoration: none;
      position: relative;
      border-bottom: 2px solid white;
      &.router-link-exact-active {
        border-bottom: 2px solid $turkish;
      }
      &:nth-last-of-type(1) {
        border: 7px solid transparent;
        padding: 0px 30px;
        -webkit-border-image: url('/static/img/pricesBorder.svg') 5 round; /* Safari 3.1-5 */
        -o-border-image: url('/static/img/pricesBorder.svg') 5 round; /* Opera 11-12.1 */
        border-image: url('/static/img/pricesBorder.svg') 5 round;
        &.router-link-exact-active {
          // background-color: $textColorLight;
          // border-radius: 20px;
          color: $turkish;
        }

      }
    }
  }
}
