.homepage {
  width: 100%;
  display: flex;
  flex-direction: column;

  &-banner {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 80vh;
    background-repeat: no-repeat;
    background-image: url(/static/img/bannerImg.png);
    background-size: 100%;
    background-position: top;

    &__cta {
      z-index: 5;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      width: 25%;
      margin-right: 8%;
      position: relative;

      .cta-headline {
        color: $turkish;
        z-index: 5;
        padding-bottom: 60px;
      }

      .cta-links {
        z-index: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 65%;
        position: relative;

        .cta-item {
          @include button;
          &:nth-of-type(1) {
            background-color: $turkish;
            color: $textColorWhite;
            font-weight: 700;
          }
        }
      }
    }
  }
  &-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .slider-item {
      width: 100px;
      padding-top: 30px;
    }

    .references-text {
      text-align: center;
      font-size: $xl-font;
      color: $textColorLight
    }
  }

  &-fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 1080px;
    width: 100%;
    &__phones {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        position: absolute;

        &:nth-of-type(1) {
          top: -34%;
          left: 6%;
          transform: rotate(-40deg);
        }
        &:nth-of-type(2) {
          transform: rotate(-40deg);
          top: 1%;
          left: 1%;
        }
        &:nth-of-type(3) {
          transform: rotate(47deg);
          bottom: -32%;
          left: 5%;
        }
        &:nth-of-type(4) {
          right: 15%;
          top: -37%;
          transform: rotate(47deg);
        }
        &:nth-of-type(5) {
          right: 5%;
          top: 9%;
          transform: rotate(137deg);
        }
        &:nth-of-type(6) {
          right: 9%;
          transform: rotate(138deg);
          top: 45%;
        }
      }
    }
    &__fact {
      width: 30%;
      height: 50%;
      display: flex;
      position: relative;
      flex-direction: column;
      width: 640px;
      height: 440px;
      justify-content: center;
      align-items: flex-start;
      .big-text {
        color: $textColorLight;
        font-size: 300px;
        letter-spacing: 1px;
        span {
          font-size: 150px;
          position: relative;
          top: -100px;
          right: 30px;
        }
      }
      .text {
        color: $textColorLight;
        font-size: 68px;
        font-weight: 700;
        position: relative;
        top: -120px;
        left: 25px;
      }
      .link {
        color: $turkish;
        position: absolute;
        right: 158px;
        font-size: 21px;
        top: 250px;
        text-decoration: none;
      }
    }
  }

  &-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 7%;

    &__item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding-bottom: 300px;
      &:nth-last-of-type(1) {
        padding-bottom: 140px;
      }

      .content {
        width: 31%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        &-subject {
          color: $textColorLight;
          font-size: $l-font;
        }

        &-headline {
          color: $turkish;
          font-weight: lighter;

        }

        &-text {
          color: $textColor;
          font-size: 28px;

        }
        .link {
          @include button;
          margin-top: 20px;
        }
      }
      .margin {
        margin-right: 7%;
      }
      .stand {
        width: 10%;
      }
      .smilies {
        width: 32%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 500px;
        h3 {
          color: $textColorLight;
          font-size: 40px;
          width: 50%;
        }
        &-images {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          position: relative;
          height: 100%;
          img {
            position: absolute;
            left: 0;
            top: 15%;
            width: 140px;
            height: 140px;
            &:nth-of-type(2) {
              left: 25%;
              top: unset;
              bottom: 15%;
            }
            &:nth-of-type(3) {
              left: 50%;
              top: 15%;
            }
            &:nth-of-type(4) {
              left: 75%;
              top: unset;
              bottom: 15%;
            }
          }
        }
      }
      .devices {
        width: 50%;
        position: relative;
        &-phone {
          position: absolute;
          bottom: 0;
          right: 15%;
        }
      }
      .icons {
        background-image: url('/static/img/macbookAndBg.png');
        width: 50%;
        height: 600px;
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .item {
          position: absolute;
          width: 150px;
          height: 150px;
          &:nth-of-type(1) {
            right: 20%;
            top: 1%;
          }
          &:nth-of-type(2) {
            bottom: 0%;
            left: 19%;
          }
          &:nth-of-type(3) {
            right: 10%;
          }
          &:nth-of-type(4) {
            left: 18%;
            top: 9%;
          }
          &:nth-of-type(5) {
            bottom: 8%;
            right: 19%;
          }
          &:nth-of-type(6) {
            left: 10%;
          }
        }
      }
    }
  }
  &-score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: flex-start;
    padding: 7%;

    &__wehappy {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 27.5%;
      .smilies {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        height: 500px;
        width: 100%;
        padding-bottom: 10px;
        img {
          position: absolute;

          &:nth-of-type(1) {
            height: 60px;
            width: 60px;
            top: 0;
            right: 5%;
            transform: rotate(-30deg);

          }
          &:nth-of-type(2) {
            top: 10%;
            right: 33%;

          }
          &:nth-of-type(3) {
            height: 50px;
            width: 50px;
            top: -5%;
            left: 2%;

          }
          &:nth-of-type(4) {
            height: 75px;
            width: 75px;
            top: 15%;
            left: 17%;
            transform: rotate(-50deg);

          }
          &:nth-of-type(5) {
            height: 100px;
            width: 100px;
            top: 37%;
            left: 40%;
            transform: rotate(-15deg);

          }
          &:nth-of-type(6) {
            height: 65px;
            width: 65px;
            top: 37%;
            right: 15%;

          }
          &:nth-of-type(7) {
            height: 50px;
            width: 50px;
            top: 66%;
            left: 35%;
            transform: rotate(-40deg);

          }
          &:nth-of-type(8) {
            height: 55px;
            width: 55px;
            top: 61%;
            right: 35%;

          }
          &:nth-of-type(9) {
            height: 40px;
            width: 40px;
            bottom: 6%;
            transform: rotate(-20deg);
          }

        }
      }
      img {
        width: 80px;
        height: 80px;
      }
      .text {
        padding-top: 20px;
        font-weight: bold;
        color: $textColorLight;

      }
      .score {
        font-size: $xl-font;
        font-weight: bold;
        color: $textColorLight;
      }
    }

    &__text {
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      h3 {
        font-size: $xxl-font;
        font-weight: lighter;
        color: $turkish;
      }
      p {
        font-size: 28px;
      }
    }
    &__trustpilot {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 27.5%;
      .stars {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        height: 500px;
        width: 100%;
        padding-bottom: 10px;
        img {
          position: absolute;
        }
        img {
          position: absolute;

          &:nth-of-type(1) {
            height: 60px;
            width: 60px;
            top: 0;
            right: 2%;
            transform: rotate(60deg);

          }
          &:nth-of-type(2) {
            top: 7%;
            right: 38%;

          }
          &:nth-of-type(3) {
            height: 50px;
            width: 50px;
            top: -5%;
            left: 5%;

          }
          &:nth-of-type(4) {
            height: 75px;
            width: 75px;
            top: 23%;
            left: 15%;

          }
          &:nth-of-type(5) {
            height: 100px;
            width: 100px;
            top: 33%;
            left: 40%;
            transform: rotate(30deg);

          }
          &:nth-of-type(6) {
            height: 65px;
            width: 65px;
            top: 37%;
            right: 15%;

          }
          &:nth-of-type(7) {
            height: 50px;
            width: 50px;
            top: 60%;
            left: 33%;

          }
          &:nth-of-type(8) {
            height: 55px;
            width: 55px;
            top: 61%;
            right: 35%;
            transform: rotate(30deg);

          }
          &:nth-of-type(9) {
            height: 40px;
            width: 40px;
            bottom: 6%;
            transform: rotate(10deg);

          }

        }
      }
      img {
        width: 80px;
        height: 80px;
      }
      .text {
        padding-top: 20px;
        font-weight: bold;
        color: $textColorLight;

      }
      .score {
        font-size: $xl-font;
        font-weight: bold;
        color: $textColorLight;
      }
    }
  }

  &-survey {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    .background-image {
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 0;
      &:nth-of-type(2) {
        width: 100%;
        position: absolute;
        top: unset;
        bottom: -2px;
        z-index: 0;
      }
    }
    &__text {
      z-index: 1;
      padding-top: 150px;
      padding-bottom: 150px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h3 {
        font-family: $font2;
        font-size: 40px;
        text-align: center;
        font-weight: 400;
        padding-bottom: 50px;
      }
      p {
        text-align: center;
        width: 25%;
        color: $textColor2;
        font-size: 28px;
        font-weight: 300;
      }
    }
    .slider {
      z-index: 1;
      width: 100%;
      overflow: hidden;
      overflow-x: scroll;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      box-sizing: border-box;
      padding-left: 8%;
      .img-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        img {
          margin-right: 130px;
          width: 400px;
          padding-bottom: 30px;
        }
      }
    }
    &__solutions {
      padding-top: 150px;
      width: 100%;
      z-index: 1;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-direction: column;
        width: 30%;
        height: 770px;
        border-radius: 20px;
        background-color: $grey;
        img {
          width: 20%;
        }
        .text-box {
          width: 80%;
          background-color: $white;
          @include boxshadow;
          border-radius: 20px;
          position: absolute;
          bottom: -10%;
          box-sizing: border-box;
          padding: 5%;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          h4 {
            width: 60%;
            font-size: $xl-font;
            color: $textColor2;
            font-weight: 400;
          }
          p {
            width: 60%;
          }
          img {
            position: absolute;
            right: 5%;
            width: 70px
          }

        }
        &:nth-of-type(2) {
          background-color: $green;
        }
      }
    }
    &__modal {
      z-index: 1;
      margin-top: 10%;
      border-radius: 20px;
      background-color: $white;
      @include boxshadow;
      position: relative;
      width: 55%;
      height: 700px;
      display: flex;
      padding: 5% 6%;
      box-sizing: border-box;
      justify-content: flex-end;
      align-items: flex-start;
      .images {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        left: -7%;
        top: 10%;
        img {
          &:nth-of-type(1) {
            width: 340px;
          }
        }
      }
      .text {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 55%;
        .subject {
          color: $textColorLight;
          font-size: 20px;

        }
        .headline {
          font-weight: 300;
          font-size: 35px;
          color: $turkish;
        }
        .message {
          font-size: 24px;
        }
      }
    }
    &__cta {
      z-index: 1;
      margin-top: 7%;
      margin-bottom: 10%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      .link {
        @include button;
        margin-top: 7%;
      }
    }
  }
}
