.prices {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 40%;
    &__slider {
      height: 200px;
      width: 40%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      padding: 1%;
      border-radius: 20px 0px 0px 20px;
      border: 1px solid $grey;
      border-right: 0px;

      h4 {
        color: $turkish;
        font-size: $l-font;
        font-weight: 400;
      }
      .slider {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 100%;
        &-count {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          p {
            font-size: $l-font;
            &:nth-of-type(1) {
              font-weight: bold;
            }
          }
        }
        &-drag {
          display: flex;
          justify-content: center;
          align-items: center;
          input[type=range] {
            height: 31px;
            -webkit-appearance: none;
            margin: 10px 0;
            width: 100%;
          }
          input[type=range]:focus {
            outline: none;
          }
          input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 9px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 0px 0px 0px #000000;
            background: rgba(194, 200, 206, 0.5);
            border-radius: 5px;
            border: 0px solid #000000;
          }
          input[type=range]::-webkit-slider-thumb {
            box-shadow: 0px 0px 0px #000000;
            border: 0px solid #000000;
            height: 25px;
            width: 25px;
            border-radius: 25px;
            background: rgba(0,215, 215, 1);
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -8px;
          }
          input[type=range]:focus::-webkit-slider-runnable-track {
            background: rgba(194, 200, 206, 0.5);
          }
          input[type=range]::-moz-range-track {
            width: 100%;
            height: 9px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 0px 0px 0px #000000;
            background: rgba(194, 200, 206, 0.5);
            border-radius: 5px;
            border: 0px solid #000000;
          }
          input[type=range]::-moz-range-thumb {
            box-shadow: 0px 0px 0px #000000;
            border: 0px solid #000000;
            height: 25px;
            width: 25px;
            border-radius: 25px;
            background: rgba(0, 220, 220, 1);
            cursor: pointer;
          }
          input[type=range]::-ms-track {
            width: 100%;
            height: 9px;
            cursor: pointer;
            animate: 0.2s;
            background: transparent;
            border-color: transparent;
            color: transparent;
          }
          input[type=range]::-ms-fill-lower {
            background: rgba(194, 200, 206, 0.5);
            border: 0px solid #000000;
            border-radius: 10px;
            box-shadow: 0px 0px 0px #000000;
          }
          input[type=range]::-ms-fill-upper {
            background: rgba(194, 200, 206, 0.5);
            border: 0px solid #000000;
            border-radius: 10px;
            box-shadow: 0px 0px 0px #000000;
          }
          input[type=range]::-ms-thumb {
            margin-top: 1px;
            box-shadow: 0px 0px 0px #000000;
            border: 0px solid #000000;
            height: 25px;
            width: 25px;
            border-radius: 25px;
            background: rgba(0, 220, 220, 1);
            cursor: pointer;
          }
          input[type=range]:focus::-ms-fill-lower {
            background: rgba(194, 200, 206, 0.5);
          }
          input[type=range]:focus::-ms-fill-upper {
            background: rgba(194, 200, 206, 0.5);
          }
        }
      }
    }
    &__addons {
      width: 60%;
      height: 200px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      border-radius: 0px 20px 20px 0px;
      border: 1px solid $grey;
      h4 {
        color: $turkish;
        font-size: $l-font;
        font-weight: 400;
      }
      .inputs {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .addons-option {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          position: relative;
          box-sizing: border-box;
          padding-left: 10%;
          .round {
            position: absolute;
            left: 8%;
            top: 30%;
          }

          .round label {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            cursor: pointer;
            height: 20px;
            left: 0;
            position: absolute;
            top: 0;
            width: 20px;
          }

          .round label:after {
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            content: "";
            height: 6px;
            left: 3px;
            opacity: 0;
            position: absolute;
            top: 4px;
            transform: rotate(-45deg);
            width: 11px;
          }

          .round input[type="checkbox"] {
            visibility: hidden;
          }

          .round input[type="checkbox"]:checked + label {
            background-color: $turkish;
            border-color: $turkish;
          }

          .round input[type="checkbox"]:checked + label:after {
            opacity: 1;
          }

          body {
            background-color: #f1f2f3;
          }
          input {
            top: 40%;
            left: 10%;
            position: absolute;
          }
          span {
            &:nth-of-type(1) {
              font-weight: 300;
              font-size: $l-font;
            }
            &:nth-of-type(2) {
              font-size: $s-font;

            }
          }
        }
      }
    }
  }

  &-subscriptions {
    display: flex;
    justify-content: center;
    width: 60%;
    flex-direction: row;
    align-items: center;
    padding: 1% 0%;

    &__item {
      width: 25%;
      margin: 2%;
      height: 550px;
      background-color: white;
      @include boxshadow;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      padding-top: 2%;
      position: relative;
      overflow: hidden;
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        img {
          height: 15px;
          width: 15px;
          margin-right: 5px;
        }
      }
      .offer {
        background-color: $turkish;
        position: absolute;
        padding: 5px 50px;
        color: white;
        top: 5%;
        right: -13%;
        transform: rotate(35deg);
      }

      .months {
        font-size: $xl-font;
        margin-bottom: 5%;
      }
      .price {
        font-size: 80px;
        font-weight: bold;
      }
      .text {
        text-align: center;
        &:nth-of-type(4) {
          margin-top: 10%;
        }
        &:nth-of-type(3) {
          margin-top: -5%;
        }
      }
      .order {
        @include button;
        background-color: $turkish;
        color: $white;
        margin-top: 15%;
      }
      &:nth-of-type(2) {
        margin-bottom: 5%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,00c5c7+34,20b682+74,00c782+100 */
        background: rgb(135,224,253); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(135,224,253,1) 0%, rgba(0,197,199,1) 34%, rgba(32,182,130,1) 74%, rgba(0,199,130,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(135,224,253,1) 0%,rgba(0,197,199,1) 34%,rgba(32,182,130,1) 74%,rgba(0,199,130,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(135,224,253, .7) 0%,rgba(0,197,199, .8) 34%,rgba(32,182,130, .9) 74%,rgba(0,199,130, .9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#00c782',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        .offer {
          background-color: $white;
          color: $turkish;
        }
        .months {
          color: $white;
        }
        .price {
          color: $white;
        }
        .text {
          color: $white;
        }
        .order {
          background-color: $white;
          color: $textColor;
        }
      }
      &:nth-of-type(3) {
        .price {
          color: $turkish;
        }
      }
    }
  }

  &-wifiText {
    width: 100%;
    text-align: center;
    font-size: $l-font;
    letter-spacing: 1px;
  }

  &-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 5%;
    &__icon {
      width: 100px;
      height: 100px;
    }
    &__headline {
      font-size: $xxl-font;
      font-weight: 300;
      margin-top: 0px;
      letter-spacing: 1px;
    }
    &__text {
      font-size: $l-font;
      margin-bottom: 2%;
    }
    &__button {
      @include button;
      background-color: $green;
      color: $white;
      font-weight: 700;
    }
  }
  &-faq {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    &__background {
      width: 100%;
      position: absolute;
      z-index: 0;
      top: 0;
    }
    &__headline {
      z-index: 1;
      margin-top: 5%;
      margin-bottom: 2%;
      font-size: $xxl-font;
      letter-spacing: 1px;
      font-weight: 300;

    }
    &__tab {
      background-color: white;
      width: 55%;
      height: auto;
      z-index: 1;
      border-radius: 15px;
      @include boxshadow;
      margin-bottom: 1%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 0;
      font-size: $l-font;
      position: relative;
      flex-direction: column;
      transition: all .3s ease-in-out;
      .link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100px;
        width: 100%;
        color: $textColor2;
        text-decoration: none;
        box-sizing: border-box;
        padding: 1% 4%;
        user-select: none;


        .arrow-left {
          position: absolute;
          width: 23px;
          height: 5px;
          border-radius: 15px;
          right: 5%;
          z-index: 1;
          background-color: $turkish;
          transform: rotate(35deg);
          transition: all .15s ease-in-out;

        }
        .arrow-right {
          position: absolute;
          width: 23px;
          height: 5px;
          border-radius: 15px;
          right: 4%;
          z-index: 1;
          background-color: $turkish;
          transform: rotate(-35deg);
          transition: all .15s ease-in-out;
        }
      }
      .collapsed {
        max-height: 0;
        overflow: hidden;
        transition: all .2s ease-in-out;

      }

      &.active {
        .link {
          .arrow-left {
            position: absolute;
            width: 30px;
            height: 5px;
            border-radius: 15px;
            right: 5%;
            z-index: 1;
            background-color: $turkish;
            transform: rotate(44deg);

          }
          .arrow-right {
            position: absolute;
            width: 30px;
            height: 5px;
            border-radius: 15px;
            right: 4.94%;
            z-index: 1;
            background-color: $turkish;
            transform: rotate(-45deg);
          }
        }
        .collapsed {
          max-height: 200px;
          box-sizing: border-box;
          padding: 1% 3%;
          padding-bottom: 3%;
        }
      }
    }
  }

  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    position: relative;
    .background {
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      z-index: 0;
    }
    &__modal {
      z-index: 1;
      margin-top: 10%;
      border-radius: 20px;
      background-color: $white;
      @include boxshadow;
      position: relative;
      width: 55%;
      height: 700px;
      display: flex;
      padding: 5% 6%;
      box-sizing: border-box;
      justify-content: flex-end;
      align-items: center;
      .images {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 50%;
        width: 60%;
        left: 0;
        .background {
          position: absolute;
          width: 100%;
          top: -65%;
          left: -10%;
        }
        .icons {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            position: absolute;
            width: 100px;
            height: 100px;
            &:nth-of-type(1) {
              right: 15%;
              top: -40%;

            }
            &:nth-of-type(2) {
              top: 100%;
              left: -2%
            }
            &:nth-of-type(3) {
              right: 8%;

            }
            &:nth-of-type(4) {
              left: -2%;
              top: -40%;

            }
            &:nth-of-type(5) {
              right: 15%;
              top: 90%;

            }
            &:nth-of-type(6) {
              left: -10%;
            }

          }
        }
      }
      .text {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 40%;
        .subject {
          color: $textColorLight;
          font-size: 20px;

        }
        .headline {
          font-weight: 300;
          font-size: 35px;
          color: $textColor;
        }
        .message {
          font-size: $l-font;
          font-weight: 300;
          margin-bottom: 5%;
        }
        .link {
          @include button;
        }
      }
    }
    &__text {
      font-family: $font;
      text-align: center;
      font-size: 42px;
      color: $white;
      padding-top: 10%;
      z-index: 1;
    }
    &__button {
      z-index: 1;
      @include button;
      margin-top: 1%;
      margin-bottom: 10%;
    }
  }
}
