.product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  .dashboard {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 120vh;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

    .background {
      position: absolute;
      width: 100%;
      z-index: 0;
      transform: rotate(180deg);
      bottom: 0;
    }
    .text {
      z-index: 1;
      margin-left: 20%;
      margin-top: 20%;
      width: 35%;
      @include textBox;

    }
    .content_image {
      z-index: 1;
      position: absolute;
      height: 100%;
      right: -1%;
    }
  }
  .functionality {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .headline {
      color: $textColor;
      font-size: 36px;
      text-align: center;
      font-weight: 300;
      padding: 2%;
    }
    .icons {
      width: 32%;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      padding-bottom: 2%;
      .icons-wrap {
        width: 10%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .one {
          border: 1px solid $grey;
          border-radius: 20px;
          width: 30px;
          height: 30px;
          padding: 20px;
          transition: all .3s ease-in-out;
          visibility: 1;
          opacity: 100;
          position: relative;
          z-index: 2;
          &:hover {
            background-color: $greyBlue;
            opacity: 75;
          }
        }
        .two {
          z-index: 1;
          @extend .one;
          visibility: 0;
          opacity: 0;
          position: absolute;
          background-color: $darkGrey;
        }
        .icon_label {
          position: absolute;
          text-align: center;
          bottom: -40%;
          font-size: $s-font;
          width: 200%;
          color: $textColorLight;
        }
        &.active {
          .one {
            border: 1px solid $grey;
            border-radius: 20px;
            width: 45px;
            height: 45px;
            padding: 20px;
            transition: all .3s ease-in-out;
            visibility: 0;
            opacity: 0;
            position: absolute;
          }
          .two {
            @extend .one;
            visibility: 100;
            opacity: 100;
            position: relative;
            background-color: $greyBlue;
          }
          .icon_label {
            color: $textColor;
          }
        }
      }
    }
    .overlay {
      height: 80vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      pointer-events: none;
      .black {
        height: 100%;
        width: 40%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+38,ffffff+100&1+0,1+10,0+100 */
        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,0.69) 38%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0.69) 38%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0.69) 38%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
        &:nth-of-type(3) {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+38,ffffff+100&0+0,1+90,1+100 */
          background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.42) 38%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.42) 38%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.42) 38%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        }
      }
      .center {
        height: 100%;
        width: 20%;
      }
    }
    .overlay2 {
      @extend .overlay;
      height: 60vh;
    }
    .images {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      padding: 0% 6%;
      box-sizing: border-box;
      padding-bottom: 3%;
      overflow: hidden;
      position: relative;
      height: 80vh;
      z-index: 1;
      &-slider {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        position: absolute;
        left: -6.5%;
        transition: all .3s ease-in-out;
        img {
          width: 500px;
          margin-right: 100px;
        }

      }
      &-slider2 {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        position: absolute;
        left: -20.3%;
        transition: all .3s ease-in-out;
        img {
          width: 600px;
          margin-right: 150px;
        }

      }

    }
    .images2 {
      @extend .images;
      height: 60vh;
    }
  }
  .reports {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    position: relative;
    height: 100vh;
    padding: 0% 9%;
    box-sizing: border-box;
    .background {
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 0;
      left: 0;
      height: 100%;
    }
    .text {
      z-index: 1;
      @include textBox;
    }
    .monthlyReport {
      position: absolute;
      right: 16%;
      top: 14%;
      z-index: 2;

    }
    .monthlyReport2 {
      position: absolute;
      right: 6%;
      top: 20%;
    }
  }
  .facts {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0% 5%;
    padding-bottom: 5%;
    box-sizing: border-box;
    &__item {
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      img{
        width: 5.5%;
        margin-right: 3%;
      }
      .text {
        h3 {
          font-size: 36px;
          font-weight: 300;
        }
        p {
          font-size: 22px;
        }
      }
    }
  }
  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    position: relative;
    .background {
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      z-index: 0;
    }
    &__modal {
      z-index: 1;
      margin-top: 10%;
      border-radius: 20px;
      background-color: $white;
      @include boxshadow;
      position: relative;
      width: 55%;
      height: 700px;
      display: flex;
      padding: 5% 6%;
      box-sizing: border-box;
      justify-content: flex-end;
      align-items: flex-start;
      .images {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        left: -7%;
        top: 10%;
        img {
          &:nth-of-type(1) {
            width: 340px;
          }
        }
      }
      .text {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 55%;
        .subject {
          color: $textColorLight;
          font-size: 20px;

        }
        .headline {
          font-weight: 300;
          font-size: 35px;
          color: $turkish;
        }
        .message {
          font-size: 24px;
        }
      }
    }
    &__text {
      font-family: $font;
      text-align: center;
      font-size: 42px;
      color: $white;
      padding-top: 10%;
      z-index: 1;
    }
    &__button {
      z-index: 1;
      @include button;
      margin-top: 1%;
      margin-bottom: 10%;
    }
  }
  &-banner {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 80vh;
    background-repeat: no-repeat;
    background-image: url(/static/img/bannerImg.png);
    background-size: 100%;
    background-position: top;

    &__cta {
      z-index: 5;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      width: 25%;
      margin-right: 8%;
      position: relative;

      .cta-headline {
        color: $turkish;
        z-index: 5;
        padding-bottom: 60px;
      }

      .cta-links {
        z-index: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 65%;
        position: relative;

        .cta-item {
          @include button;
          &:nth-of-type(1) {
            background-color: $turkish;
            color: $textColorWhite;
            font-weight: 700;
          }
        }
      }
    }
  }
  &-navigation {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    .link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      text-decoration: none;
      color: $textColorLight;
      &.active {
        color: $turkish;
      }
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
  &-stand {
    width: 100%;
    &__stand {
      height: 80vh;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      .smilies {
        .headline {
          color: $textColorLight;
          font-size: 40px;
          font-weight: 400;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 40%;
        height: 40%;
        .smiley-wrapper {
          width: 100%;
          height: 100%;
          position: relative;
          img {
            position: absolute;
            width: 15%;
            &:nth-of-type(1) {
              left: 10%;
              top: 15%;
            }
            &:nth-of-type(2) {
              left: 30%;
              top: 65%;
            }
            &:nth-of-type(3) {
              left: 50%;
              top: 15%;
            }
            &:nth-of-type(4) {
              left: 70%;
              top: 65%;
            }
          }
        }
      }
      img {

      }
      .text {
        @include textBox;
        width: 40%;
        padding: 6%;
        box-sizing: border-box;
      }
    }
    &__survey {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      .background {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 0;
      }
      .headline {
        z-index: 1;
        padding: 5%;
        font-size: $xxl-font;
        font-weight: 400;
      }
      .surveys {
        z-index: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        height: 30vh;
        box-sizing: border-box;
        padding-left: 10%;
        margin-bottom: 5%;
        width: 100%;
        overflow: hidden;
        overflow-x: scroll;
        &-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          padding-bottom: 5%;
          &__item {
            width: 450px;
            margin-right: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img {
              width: 80%;
            }
            p {
              width: 80%;
              text-align: center;
              font-size: $l-font;
              color: $textColor2;
            }
          }
        }
      }
      .text-box {
        z-index: 1;
      }

      .info-box {
        width: 80%;
        background-color: white;
        height: 800px;
        z-index: 1;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        @include boxshadow;
        margin-bottom: 5%;
        &__text {
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          box-sizing: border-box;
          padding: 0 10%;
          flex-direction: column;
          border-radius: 20px 0px 0px 20px;
          h3 {
            color: $textColor2;
            text-align: left;
            font-size: 28px;
            padding-bottom: 2%;
          }
          p {
            color: $textColor2;
            text-align: left;
            font-size: $n-font;
            font-size: 24px;
          }
        }
        &__image {
          border-radius: 0px 20px 20px 0px;
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          padding-right: 5%;
          background-color: $grey;
        }
      }
    }
    .cta {

      .info-box {
        width: 80%;
        background-color: white;
        height: 800px;
        z-index: 1;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        @include boxshadow;
        &__text {
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          box-sizing: border-box;
          padding: 0 10%;
          flex-direction: column;
          border-radius: 0px 20px 20px 20px;
          h3 {
            color: $textColor2;
            text-align: left;
            font-size: 28px;
            padding-bottom: 2%;
          }
          p {
            color: $textColor2;
            text-align: left;
            font-size: $n-font;
            font-size: 24px;
          }
        }
        &__image {
          border-radius: 20px 0px 0px 20px;
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          padding-right: 5%;
          background-color: $green;
        }
      }
    }
  }
  &-phone {
    width: 100%;
  }
  &-desktop {
    width: 100%;
    .dashboard {
      height: 75vh;
      .text {
        margin-top: 0;
        margin-left: 10%;
      }
      .content_image{
        height: 80%;
        right: 5%;
      }
      .content_image-item {
        z-index: 1;
        position: absolute;
        right: 35%;
        top: 17%;
      }
      .content_image-item2 {
        right: 6%;
        top: 12%;
        z-index: 1;
        position: absolute;
      }
    }
    .functionality {
      .images {
        justify-content: center;
        padding-bottom: 5%;
      }
    }
  }
}
