@import url('https://fonts.googleapis.com/css?family=Nunito:300,400');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import './variables/all';
@import 'header';
@import 'footer';
@import 'homepage';
@import 'product';
@import 'prices';
@import 'contact';
@import 'aboutUs';

* {
  margin: 0;
  padding: 0;
}

p {
  color: $textColor;
  font-weight: lighter;
}
