$font: 'Lato', sans-serif;
$font2: 'Nunito', sans-serif;

$xxs-font: 0.6667rem;
$xs-font: 0.7778rem;
$s-font: 0.8889rem;
$n-font: 1rem;
$l-font: 1.111rem;
$xl-font: 1.222rem;
$xxl-font: 1.922rem;
$xxxl-font: 2.778rem;


html,
body {
  user-select: none;
  color: $textColor;
  font-family: $font;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  font-size: 18px;
  @media only screen and (max-width: 1300px) {
    font-size: 16px;
  }
}


h1,
h2 {
  user-select: none;
  font-family: $font2;
  font-size: $xxl-font;
}

h3,
h4 {
  user-select: none;
  font-family: $font2;
  font-size: $xl-font;
}
p {
  user-select: none;
}
