@mixin boxshadow {
  -webkit-box-shadow: 2px 4px 15px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 4px 15px 0px rgba(0,0,0,0.15);
  box-shadow: 2px 4px 15px 0px rgba(0,0,0,0.15);
}

@mixin button {
  background-color: white;
  color: $textColor;
  z-index: 5;
  padding: 14px 44px;
  border-radius: 50px;
  text-decoration: none;
  width: 190px;
  height: 55px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $l-font;
  @include boxshadow;
}

@mixin textBox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  .subject {
    color: $textColorLight;
    font-size: 20px;
  }
  .headline {
    color: $turkish;
    font-size: 38px;
    font-weight: 400;
  }
  .message {
    font-size: 24px;
  }
}
