$textColor: #606060;
$textColor2: #687784;
$textColorLight: #C2C8CE;
$turkish: #00C5C7;
$textColorWhite: #ffffff;
$white: #ffffff;

//colors
$greyBlue: #687784;

//items
$grey: #F6F6FA;
$green: #95DB6B;
$darkGrey: #606060;
$red: #FF686E;

//FOOTER
$footerBg: #606060;
$footerText: #ffffff;
$footerLightText: #C2C8CE;
