<template lang="html">
  <div class="contact">
    <article class="contact-intro">
      <h1 class="contact-intro__headline">Kontakt os</h1>
      <p class="contact-intro__underline">Er du eksisterende kunde og ønsker at udvide dit abonnement, så kontakt kundeservice.</p>
    </article>
    <form class="contact-form" >
      <div class="contact-form__small">
        <label for="name"> DIT NAVN </label>
        <input type="text" name="name" placeholder="">
      </div>
      <div class="contact-form__small">
        <label for="company"> FIRMA </label>
        <input type="text" name="company" placeholder="">
      </div>
      <div class="contact-form__small">
        <label for="phone"> TELEFON</label>
        <input type="text" name="home" placeholder="+45">
      </div>
      <div class="contact-form__small">
        <label for="email"> EMAIL </label>
        <input type="email" name="email" placeholder="">
      </div>
      <div class="contact-form__big">
        <label for="message"> BESKED </label>
        <input type="text" name="message"  placeholder="">
      </div>
      <a href="#" class="contact-form__submit" > Send </a>
    </form>
    <section class="contact-departments">
      <div class="contact-departments__SoMe">
        <a href="#"><img src="/static/img/facebookWhite.svg" alt=""></a>
        <a href="#"><img src="/static/img/linkedinWhite.svg" alt=""></a>
        <a href="#"><img src="/static/img/twitterWhite.svg" alt=""></a>
        <a href="#"><img src="/static/img/instagramWhite.svg" alt=""></a>
      </div>
      <div class="contact-departments__item">
        <h3>Salgsafdeling</h3>
        <p>salg@wehappy.dk</p>
        <p>Tel: 54 65 76 87</p>
      </div>
      <div class="contact-departments__item">
        <h3>Support</h3>
        <p>support@wehappy.dk</p>
        <p>Tel: 54 65 76 87</p>
      </div>
      <div class="contact-departments__item">
        <h3>Hovedkontor</h3>
        <p>Læsøgade 177</p>
        <p>5230 Odense M, Danmark</p>
      </div>
    </section>
    <section class="contact-faq">
      <h3 class="contact-faq__headline"> FAQ </h3>
      <div class="wrapper">
        <a href="#" class="contact-faq__item">
          <img src="/static/img/guideIcon.svg" alt="">
          Guides
        </a>
        <a href="#" class="contact-faq__item">
          <img src="/static/img/dollarIcon.svg" alt="">
          Abonnement
        </a>
        <a href="#" class="contact-faq__item">
          <img src="/static/img/appIcon.svg" alt="">
          Dashboard
        </a>
      </div>
    </section>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
