<template lang="html">
  <div class="footer">
    <div class="footer-navigation">
      <router-link class="footer-navigation__item" :to="{ name: 'Prices', params: {} }">Priser</router-link>
      <router-link class="footer-navigation__item" :to="{ name: 'Product', params: {} }">Produkt</router-link>
      <img src="/static/img/logoWhite.svg" class="footer-logo" alt="">
      <router-link class="footer-navigation__item" :to="{ name: 'AboutUs', params: {} }">Om os</router-link>
      <router-link class="footer-navigation__item" :to="{ name: 'Contact', params: {} }">Kontakt</router-link>
    </div>
    <div class="footer-gdpr">
      <router-link :to="{ name: '', params: {} }">Privatliv</router-link>
      <router-link :to="{ name: '', params: {} }">Handelsbetingelser</router-link>
      <router-link :to="{ name: '', params: {} }">Cookies</router-link>
    </div>
    <img src="/static/img/seperator.svg" class="footer-seperator" alt="">
    <div class="footer-SoMe">
      <a href="#"> <img src="/static/img/facebookIcon.svg" alt=""> </a>
      <a href="#"> <img src="/static/img/linkedinIcon.svg" alt=""> </a>
      <a href="#"> <img src="/static/img/twitterIcon.svg" alt=""> </a>
      <a href="#"> <img src="/static/img/instagramIcon.svg" alt=""> </a>
    </div>
    <p class="credentials">©2018 WeHappy. All rights reserved.</p>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
