<template lang="html">
  <div class="header">
    <img src="/static/img/logo.svg" class="header-logo" alt="">
    <div class="header-navigation">
      <router-link class="header-navigation__item" :to="{ name: 'Homepage', params: {} }">Forside</router-link>
      <router-link class="header-navigation__item" :to="{ name: 'Product', params: {} }">Produkt</router-link>
      <router-link class="header-navigation__item" :to="{ name: 'AboutUs', params: {} }">Om os</router-link>
      <router-link class="header-navigation__item" :to="{ name: 'Contact', params: {} }">Kontakt</router-link>
      <router-link class="header-navigation__item" :to="{ name: 'Prices', params: {} }">Priser</router-link>

    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
