<template lang="html">
  <div class="homepage">
    <div class="homepage-banner" style="background-image: url('/static/img/bannerImg.png');">
      <div class="homepage-banner__cta">
        <h1 class="cta-headline"> Optimer din virksomhed ved hjælp af kundetilbagemeldinger</h1>
        <div class="cta-links">
          <router-link class="cta-item" :to="{ name: 'Contact', params: {} }">Kontakt</router-link>
          <router-link class="cta-item" :to="{ name: 'Product', params: {} }">Læs mere</router-link>
        </div>
      </div>
    </div>
    <section class="homepage-section">
      <p class="references-text"> WeHappy er allere valgt af flere danske virksomheder</p>
      <img class="slider-item" src="/static/img/beautycos.svg" alt="">
    </section>
    <section class="homepage-content">
      <div class="homepage-content__item">
        <article class="content" >
          <p class="content-subject">Stander</p>
          <h2 class="content-headline">Dine kunder har en mening! Giv dem mulighed for at dele den med dig</h2>
          <p class="content-text"> Vores stander er det optimale redskab for dig til at samle feedack fra dine kunder.</p>
        </article>
        <img class="stand" src="/static/img/stand.png" alt="">
        <div class="smilies">
          <h3>Hvad syntes du om vores service i dag?</h3>
          <div class="smilies-images">
            <img src="/static/img/happy.svg" alt="">
            <img src="/static/img/okay.svg" alt="">
            <img src="/static/img/needy.svg" alt="">
            <img src="/static/img/sad.svg" alt="">
          </div>
        </div>
      </div>
      <div class="homepage-content__item">
        <div class="devices">
          <img class="devices-desktop" src="/static/img/imac.png" alt="">
          <img class="devices-phone" src="/static/img/iphone.png" alt="">
        </div>
        <article class="content margin" >
          <p class="content-subject">Dashboard</p>
          <h2 class="content-headline">Få et hurtigt overblik ved at bruge det medfølgende Dashboard</h2>
          <p class="content-text"> Reager hurtigt på dårlig feedback, vores Dashboard sender feedbacken live og kan vise data fra et ubegrænset antal standere.</p>
        </article>
      </div>
      <div class="homepage-content__item">
        <article class="content" >
          <p class="content-subject">Stander</p>
          <h2 class="content-headline">Dine kunder har en mening! Giv dem mulighed for at dele den med dig</h2>
          <p class="content-text"> Vores stander er det optimale redskab for dig til at samle feedack fra dine kunder.</p>
          <router-link class="link" :to="{ name: 'Product', params: {} }"> Funktioner </router-link>
        </article>
        <div class="icons" style="background-image: url('/static/img/macbookAndBg.png')">
          <img class="item" src="/static/img/chartIcon.svg" alt="">
          <img class="item" src="/static/img/listIcon.svg" alt="">
          <img class="item" src="/static/img/lockIcon.svg" alt="">
          <img class="item" src="/static/img/scoreIcon.svg" alt="">
          <img class="item" src="/static/img/wifiIcon.svg" alt="">
          <img class="item" src="/static/img/notificationIcon.svg" alt="">
        </div>
      </div>
    </section>
    <section class="homepage-fullscreen overflow">
      <div class="homepage-fullscreen__phones">
        <img src="/static/img/iphone.png" alt="">
        <img src="/static/img/iphone.png" alt="">
        <img src="/static/img/iphone.png" alt="">
        <img src="/static/img/iphone.png" alt="">
        <img src="/static/img/iphone.png" alt="">
        <img src="/static/img/iphone.png" alt="">
      </div>
      <article class="homepage-fullscreen__fact">
        <h2 class="big-text"> 16 <span>%</span></h2>
        <p class="text">Gladere kunder</p>
        <router-link class="link" :to="{ name: 'Case', params: {} }">Se case</router-link>
      </article>
    </section>
    <section class="homepage-score">
      <div class="homepage-score__wehappy">
        <div class="smilies">
          <img src="/static/img/happy2.svg" alt="">
          <img src="/static/img/happy2.svg" alt="">
          <img src="/static/img/happy2.svg" alt="">
          <img src="/static/img/happy2.svg" alt="">
          <img src="/static/img/happy2.svg" alt="">
          <img src="/static/img/happy2.svg" alt="">
          <img src="/static/img/happy2.svg" alt="">
          <img src="/static/img/happy2.svg" alt="">
          <img src="/static/img/happy2.svg" alt="">
        </div>
        <img src="/static/img/WehappyAppIcon.svg" alt="">
        <p class="text">Tilfredshedsscore</p>
        <p class="score"> 91/100 </p>
      </div>
      <article class="homepage-score__text">
        <h3>Vi går op i kundetilfredshed!</h3>
        <p>Vi sætter stor pris på feedback fra vores kunder, og gør alt for, at vi <br> konstant forbedrer os. Derfor har vores kunder mulighed for, at give os <br> feedbeck gennem vores eget WeHappy system, men også på Trustpilot. </p>
      </article>
      <div class="homepage-score__trustpilot">
        <div class="stars">
          <img src="/static/img/trustpilotStar.svg" alt="">
          <img src="/static/img/trustpilotStar.svg" alt="">
          <img src="/static/img/trustpilotStar.svg" alt="">
          <img src="/static/img/trustpilotStar.svg" alt="">
          <img src="/static/img/trustpilotStar.svg" alt="">
          <img src="/static/img/trustpilotStar.svg" alt="">
          <img src="/static/img/trustpilotStar.svg" alt="">
          <img src="/static/img/trustpilotStar.svg" alt="">
          <img src="/static/img/trustpilotStar.svg" alt="">
        </div>
        <img src="/static/img/trustpilotAppIcon.svg" alt="">
        <p class="text">Tilfredshedsscore</p>
        <p class="score"> 9.6/10 </p>
      </div>
    </section>
    <section class="homepage-survey">
      <img class="background-image" src="/static/img/backgroundHome.png" alt="">
      <article class="homepage-survey__text">
        <h3> Undersøgelser </h3>
        <p>Sammensæt selv din undersøgelse. Vi tilbyder forskellige templates, der gør det nemt for dig at indsamle præcise data. </p>
      </article>
      <div class="slider">
        <div class="img-wrapper">
          <img src="/static/img/survey1.svg" alt="">
          <img src="/static/img/survey2.svg" alt="">
          <img src="/static/img/survey3.svg" alt="">
          <img src="/static/img/survey4.svg" alt="">
          <img src="/static/img/survey5.svg" alt="">
        </div>
      </div>
      <div class="homepage-survey__solutions">
        <div class="item">
          <img src="/static/img/stand.png" alt="">
          <span class="text-box">
            <h4 class="text-box__headline">Standard WeHappy branding</h4>
            <p class="text-box__text">Sammensæt selv din undersøgelse. Vi tilbyder forskellige templates</p>
            <img class="text-box__arrow" src="/static/img/arrow.svg" alt="">
          </span>
        </div>
        <div class="item">
          <span class="text-box">
            <h4 class="text-box__headline">Custom branding pakke</h4>
            <p class="text-box__text">Sammensæt selv din undersøgelse. Vi tilbyder forskellige templates</p>
            <img class="text-box__arrow" src="/static/img/arrow.svg" alt="">
          </span>
        </div>
      </div>
      <div class="homepage-survey__modal">
        <div class="images">
          <img src="/static/img/iphone.png" alt="">
          <img src="/static/img/stand.png" alt="">
        </div>
        <article class="text">
          <p class="subject"> priser </p>
          <h3 class="headline"> Danmarks billigste priser</h3>
          <p class="message"> Vi tilbyder samlede løsninger til Danmarks bedste priser, uden skjulte gebyrer </p>
        </article>
      </div>
      <div class="homepage-survey__cta">
        <h2>Har du spørgsmål eller er du bare nysgerrig? <br> Så tag kontakt, og hør hvordan vi kan hjælpe dig.</h2>
        <router-link  class="link" :to="{ name: 'Contact', params: {} }">Kontakt</router-link>
      </div>
      <img class="background-image" src="/static/img/backgroundHome2.png" alt="">
    </section>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
