<template lang="html">
  <div class="product">
    <div class="product-banner" style="background-image: url('/static/img/bannerImg.png');">
      <div class="product-banner__cta">
        <h1 class="cta-headline"> Optimer din virksomhed ved hjælp af kundetilbagemeldinger</h1>
        <div class="cta-links">
          <router-link class="cta-item" :to="{ name: 'Contact', params: {} }">Kontakt</router-link>
          <router-link class="cta-item" :to="{ name: 'Product', params: {} }">Læs mere</router-link>
        </div>
      </div>
    </div>
    <div class="product-navigation">
        <a class="link" :class="{active:view === 0}" href="#" @click.prevent="changeView(0)"><img src="/static/img/standNav.svg" /> stander</a>
        <a class="link" :class="{active:view === 1}"  href="#" @click.prevent="changeView(1)"><img src="/static/img/phoneNav.svg" /> Telefon</a>
        <a class="link" :class="{active:view === 2}"  href="#" @click.prevent="changeView(2)"><img src="/static/img/desktopNav.svg" /> Computer</a>
    </div>

    <section v-show="view === 0" class="product-stand">
      <div class="product-stand__stand">
        <div class="smilies">
          <h3 class="headline"> Hvad syntes du om <br> vores service i dag?</h3>
          <div class="smiley-wrapper">
            <img src="/static/img/happy.svg" alt="">
            <img src="/static/img/okay.svg" alt="">
            <img src="/static/img/needy.svg" alt="">
            <img src="/static/img/sad.svg" alt="">
          </div>
        </div>
        <img src="/static/img/stand.png" alt="">
        <article class="text">
          <p class="subject"> Stander </p>
          <h3 class="headline"> Vi leverer stander og tablet</h3>
          <p class="message"> Vores stander der er udstyret med en tablet, der har giver </p>
        </article>
      </div>
      <div class="product-stand__survey">
        <img class="background" src="/static/img/backgroundHome.png" alt="">
        <h3 class="headline"> Sammensæt undersøgelse</h3>
        <div class="surveys">
          <div class="surveys-wrapper">
            <div class="surveys-wrapper__item">
              <img class="image" src="/static/img/survey1.svg" alt="">
              <p class="text">Standard smiley visning, der giver en 1-4 vurdering.</p>
            </div>
            <div class="surveys-wrapper__item">
              <img class="image" src="/static/img/survey2.svg" alt="">
              <p class="text">Skift smiley’er ud med tal, hvis du ønsker et alternativt udseende.</p>
            </div>
            <div class="surveys-wrapper__item">
              <img class="image" src="/static/img/survey3.svg" alt="">
              <p class="text">En dårlig smiley? Giv kunden mulighed for at uddybe.</p>
            </div>
            <div class="surveys-wrapper__item">
              <img class="image" src="/static/img/survey4.svg" alt="">
              <p class="text">Ja/Nej gør det muligt at få svar på specifikke spørgsmål.</p>
            </div>
            <div class="surveys-wrapper__item">
              <img class="image" src="/static/img/survey5.svg" alt="">
              <p class="text">Giv kunden mulighed for at skrive præcis det svar de ønsker.</p>
            </div>
          </div>
        </div>
        <div class="info-box">
          <article class="info-box__text">
            <h3> Standard Wehappy branding</h3>
            <p>Sammensæt selv din undersøgelse. Vi tilbyder forskellige templates.</p>
          </article>
          <div class="info-box__image">
            <img src="/static/img/stand.png" alt="">
          </div>
        </div>
      </div>
      <div class="cta">
        <img class="background" src="/static/img/backgroundHome2.png" alt="">
        <div class="info-box">
          <div class="info-box__image">
            <img src="/static/img/stand.png" alt="">
          </div>
          <article class="info-box__text">
            <h3> Custom branding pakke</h3>
            <p>Sammensæt selv din undersøgelse. Vi tilbyder forskellige templates.</p>
          </article>
        </div>
        <h3 class="cta__text"> Har du spørgsmål eller er bare nysgerrig? <br> Så tag kontakt, og hør hvordan vi kan hjælpe dig. </h3>
        <router-link class="cta__button" :to="{ name: 'Contact', params: {} }">Kontakt</router-link>
      </div>
    </section>

    <section v-show="view === 1" class="product-phone">
      <div class="dashboard">
        <img class="background" src="/static/img/backgroundHome.png" alt="">
        <article class="text">
          <p class="subject">Dashboard</p>
          <h3 class="headline">Få et hurtigt overblik ved at <br> bruge det medfølgende Dashboard</h3>
          <p class="message"> Dashboard’et er live og kan vise data fra et ubegrænset antal standere. </p>
        </article>
        <img class="content_image" src="/static/img/phonesDashboard.png" alt="">
      </div>
      <div class="functionality">
        <h3 class="headline"> Funktioner </h3>
        <div class="icons">
          <div @click.prevent="changeSlider(1)" class="icons-wrap" :class="{active:functions == 1}">
            <img class="one" src="/static/img/listIcon2.svg" alt="">
            <img class="two" src="/static/img/listIcon2White.svg" alt="">
            <p class="icon_label">Opret undersøgelser</p>
          </div>
          <div @click.prevent="changeSlider(2)" class="icons-wrap" :class="{active:functions == 2}">
            <img class="one" src="/static/img/analyticsIcon.svg" alt="">
            <img class="two" src="/static/img/analyticsIconWhite.svg" alt="">
            <p class="icon_label">Analyse</p>
          </div>
          <div @click.prevent="changeSlider(3)" class="icons-wrap" :class="{active:functions == 3}">
            <img class="one" src="/static/img/notificationIcon2.svg" alt="">
            <img class="two" src="/static/img/notificationIcon2White.svg" alt="">
            <p class="icon_label">Notifikationer</p>
          </div>
          <div @click.prevent="changeSlider(4)" class="icons-wrap" :class="{active:functions == 4}">
            <img class="one" src="/static/img/wifiIcon2.svg" alt="">
            <img class="two" src="/static/img/wifiIcon2White.svg" alt="">
            <p class="icon_label">Online status</p>
          </div>
          <div @click.prevent="changeSlider(5)" class="icons-wrap" :class="{active:functions == 5}">
            <img class="one" src="/static/img/scoreIcon2.svg" alt="">
            <img class="two" src="/static/img/scoreIcon2White.svg" alt="">
            <p class="icon_label">Tilfredshedsscore</p>
          </div>
        </div>
        <div class="images">
          <div class="overlay">
            <div class="black">

            </div>
            <div class="center">

            </div>
            <div class="black">

            </div>
          </div>
          <div class="images-slider">
            <img @click.prevent="changeSlider(1)" src="/static/img/iphone.png" alt="">
            <img @click.prevent="changeSlider(2)" src="/static/img/iphone.png" alt="">
            <img @click.prevent="changeSlider(3)" src="/static/img/iphone.png" alt="">
            <img @click.prevent="changeSlider(4)" src="/static/img/iphone.png" alt="">
            <img @click.prevent="changeSlider(5)" src="/static/img/iphone.png" alt="">
          </div>
        </div>
      </div>
      <div class="reports">
        <img class="background" src="/static/img/backgroundHome.png" alt="">
        <article class="text">
          <p class="subject">Månedlig rapport</p>
          <h3 class="headline">Få en opsamling</h3>
          <p class="message"> Dashboard’et er live og kan vise data fra et ubegrænset antal standere. </p>
        </article>
        <img class="monthlyReport" src="/static/img/monthlyReport.png" alt="">
        <img class="monthlyReport2" src="/static/img/monthlyReport2.png" alt="">
      </div>
      <div class="facts">
        <div class="facts__item">
          <img src="/static/img/usersIcon.svg" alt="">
          <article class="text">
            <h3>Forskellige brugerroller</h3>
            <p>Hos WeHappy er der mulighed for at have flere brugerroller for en butik</p>
          </article>
        </div>
        <div class="facts__item">
          <img src="/static/img/lockIcon2.svg" alt="">
          <article class="text">
            <h3>SSL kryptering</h3>
            <p>Wehappy har en sikker forbindelse, samt sikkerhedscertifikat til hele platformen.</p>
          </article>
        </div>
      </div>
      <div class="cta">
        <img class="background" src="/static/img/backgroundHome2.png" alt="">
        <div class="cta__modal">
          <div class="images">
            <img src="/static/img/iphone.png" alt="">
            <img src="/static/img/stand.png" alt="">
          </div>
          <article class="text">
            <p class="subject"> priser </p>
            <h3 class="headline"> Danmarks billigste priser</h3>
            <p class="message"> Vi tilbyder samlede løsninger til Danmarks bedste priser, uden skjulte gebyrer </p>
          </article>
        </div>
        <h3 class="cta__text"> Har du spørgsmål eller er bare nysgerrig? <br> Så tag kontakt, og hør hvordan vi kan hjælpe dig. </h3>
        <router-link class="cta__button" :to="{ name: 'Contact', params: {} }">Kontakt</router-link>
      </div>
    </section>

    <section v-show="view === 2" class="product-desktop">
      <div class="dashboard">
        <img class="background" src="/static/img/backgroundHome.png" alt="">
        <article class="text">
          <p class="subject">Dashboard</p>
          <h3 class="headline">Få et hurtigt overblik ved at <br> bruge det medfølgende Dashboard</h3>
          <p class="message"> Dashboard’et er live og kan vise data fra et ubegrænset antal standere. </p>
        </article>
        <img class="content_image" src="/static/img/imac.png" alt="">
        <img class="content_image-item" src="/static/img/desktopElement.png" alt="">
        <img class="content_image-item2" src="/static/img/desktopElement2.png" alt="">
      </div>
      <div class="functionality">
        <h3 class="headline"> Funktioner </h3>
        <div class="icons">
          <div @click.prevent="changeSlider2(1)" class="icons-wrap" :class="{active:functions == 1}">
            <img class="one" src="/static/img/listIcon2.svg" alt="">
            <img class="two" src="/static/img/listIcon2White.svg" alt="">
            <p class="icon_label">Opret undersøgelser</p>
          </div>
          <div @click.prevent="changeSlider2(2)" class="icons-wrap" :class="{active:functions == 2}">
            <img class="one" src="/static/img/analyticsIcon.svg" alt="">
            <img class="two" src="/static/img/analyticsIconWhite.svg" alt="">
            <p class="icon_label">Analyse</p>
          </div>
          <div @click.prevent="changeSlider2(3)" class="icons-wrap" :class="{active:functions == 3}">
            <img class="one" src="/static/img/notificationIcon2.svg" alt="">
            <img class="two" src="/static/img/notificationIcon2White.svg" alt="">
            <p class="icon_label">Notifikationer</p>
          </div>
          <div @click.prevent="changeSlider2(4)" class="icons-wrap" :class="{active:functions == 4}">
            <img class="one" src="/static/img/wifiIcon2.svg" alt="">
            <img class="two" src="/static/img/wifiIcon2White.svg" alt="">
            <p class="icon_label">Online status</p>
          </div>
          <div @click.prevent="changeSlider2(5)" class="icons-wrap" :class="{active:functions == 5}">
            <img class="one" src="/static/img/scoreIcon2.svg" alt="">
            <img class="two" src="/static/img/scoreIcon2White.svg" alt="">
            <p class="icon_label">Tilfredshedsscore</p>
          </div>
        </div>
        <div class="images2">
          <div class="overlay2">
            <div class="black">

            </div>
            <div class="center">

            </div>
            <div class="black">

            </div>
          </div>
          <div class="images-slider2">
            <img @click.prevent="changeSlider2(1)" src="/static/img/imac.png" alt="">
            <img @click.prevent="changeSlider2(2)" src="/static/img/imac.png" alt="">
            <img @click.prevent="changeSlider2(3)" src="/static/img/imac.png" alt="">
            <img @click.prevent="changeSlider2(4)" src="/static/img/imac.png" alt="">
            <img @click.prevent="changeSlider2(5)" src="/static/img/imac.png" alt="">
          </div>
        </div>
      </div>
      <div class="reports">
        <img class="background" src="/static/img/backgroundHome.png" alt="">
        <article class="text">
          <p class="subject">Månedlig rapport</p>
          <h3 class="headline">Få en opsamling</h3>
          <p class="message"> Dashboard’et er live og kan vise data fra et ubegrænset antal standere. </p>
        </article>
        <img class="monthlyReport" src="/static/img/monthlyReport.png" alt="">
        <img class="monthlyReport2" src="/static/img/monthlyReport2.png" alt="">
      </div>
      <div class="facts">
        <div class="facts__item">
          <img src="/static/img/usersIcon.svg" alt="">
          <article class="text">
            <h3>Forskellige brugerroller</h3>
            <p>Hos WeHappy er der mulighed for at have flere brugerroller for en butik</p>
          </article>
        </div>
        <div class="facts__item">
          <img src="/static/img/lockIcon2.svg" alt="">
          <article class="text">
            <h3>SSL kryptering</h3>
            <p>Wehappy har en sikker forbindelse, samt sikkerhedscertifikat til hele platformen.</p>
          </article>
        </div>
      </div>
      <div class="cta">
        <img class="background" src="/static/img/backgroundHome2.png" alt="">
        <div class="cta__modal">
          <div class="images">
            <img src="/static/img/iphone.png" alt="">
            <img src="/static/img/stand.png" alt="">
          </div>
          <article class="text">
            <p class="subject"> priser </p>
            <h3 class="headline"> Danmarks billigste priser</h3>
            <p class="message"> Vi tilbyder samlede løsninger til Danmarks bedste priser, uden skjulte gebyrer </p>
          </article>
        </div>
        <h3 class="cta__text"> Har du spørgsmål eller er bare nysgerrig? <br> Så tag kontakt, og hør hvordan vi kan hjælpe dig. </h3>
        <router-link class="cta__button" :to="{ name: 'Contact', params: {} }">Kontakt</router-link>
      </div>
    </section>

  </div>
</template>

<script>
export default {
  data () {
    return {
      view: 0,
      functions: 3
    }
  },
  created () {

  },
  mounted () {

  },
  methods: {
    changeView (id) {
      this.view = id
    },
    changeSlider (id) {
      var slider = document.getElementsByClassName('images-slider')[0]
      console.log(slider)
      if (id === 1) {
        slider.style.left = '40%'
        this.functions = 1
        console.log()
        console.log('1')
      } else if (id === 2) {
        slider.style.left = '17%'
        this.functions = 2
        console.log('2')
      } else if (id === 3) {
        slider.style.left = '-6.5%'
        this.functions = 3
        console.log('3')
      } else if (id === 4) {
        slider.style.left = '-30%'
        this.functions = 4
        console.log('4')
      } else {
        slider.style.left = '-53%'
        this.functions = 5
        console.log('5')
      }
    },
    changeSlider2 (id) {
      var slider = document.getElementsByClassName('images-slider2')[0]
      console.log(slider)
      if (id === 1) {
        slider.style.left = '38.4%'
        this.functions = 1
        console.log()
        console.log('1')
      } else if (id === 2) {
        slider.style.left = '9.1%'
        this.functions = 2
        console.log('2')
      } else if (id === 3) {
        slider.style.left = '-20.3%'
        this.functions = 3
        console.log('3')
      } else if (id === 4) {
        slider.style.left = '-49.5%'
        this.functions = 4
        console.log('4')
      } else {
        slider.style.left = '-79%'
        this.functions = 5
        console.log('5')
      }
    }

  }
}
</script>

<style lang="css">
</style>
